@media all and (min-width: 1280px) and (max-width:1650px){
    .landing-content{
        bottom: -10vh;
    }
    .landing-text{
        font-size: 48px;
        line-height: 50px;
    }
    .landing-image img{
        transform: scale(0.8) rotate(1.83deg);
    }
}

@media all and (min-width:769px) and (max-width:1024px){
    img{
        transform: scale(0.8);
    }
    .landing-screen{
        overflow: hidden;
        height: 100vh;
    }
    .landing-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
        bottom: -17.5vh;
    }
    .landing-text{
        font-size: 48px;
        line-height: 60px;
        margin-top: -5vh;
    }
    .landing-image{
        position: relative;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100vw;
        margin-top: 25px;
    }
    .landing-image img{
        transform: scale(0.8) rotate(1.83deg);
    }
    .content-desc{
        font-size: 36px;
        width: 100%;
        line-height: 50px;
    }
}
@media all and (max-width:768px){
    .multi-image{
        width: 120px;
        margin: auto;
    }
    .logo img{
        margin-top: 0;
    }
    .mob-pad{
        padding: 0 5vw;
    }
    .vertical-center{
        align-items: start;
    }
    .left-circle{
        width: 250px;
        height: 250px;
        left: -100px;
    }
    .right-circle{
        width: 200px;
        height: 200px;
        right: -100px;
    }
    .eclipse-shadow{
        display: none;
    }
    .landing-screen{
        overflow: hidden;
        height: 100vh;
    }
    .landing-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
        bottom: -17.5vh;
    }
    .landing-text{
        font-size: 36px;
        line-height: 40px;
        margin-top: -5vh;
    }
    .landing-image{
        position: relative;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100vw;
        margin-top: 50px;
    }
    .landing-image img{
        width: 500px;
        transform: scale(1.1) rotate(1.83deg);
    }
    .white-screen{
        padding: 0;
    }
    .content-wrap{
        display: block;
        width: 90vw;
        letter-spacing: 0.01em;
    }
    .wrap-left, .wrap-right{
        width: 100%;
        margin: 5vh 0;
    }
    .image{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
    }
    .content-title{
        font-size: 17px;
        letter-spacing: 0;
        width: 100%;
    }
    .content-desc{
        font-size: 32px;
        line-height: 45px;
        letter-spacing: -1px;
        width: 100%;
    }
    .srt-desc{
        width: 100%;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0px;
    }
    .circle-shadow-blue{
        width: 60px;
    }
    .blue-screen{
        overflow: hidden;
    }
    .bang-call-btn, .bang-call-btn-blue{
        width: 120px;
        height: 36px;
    }
    .bang-btn-text, .bang-btn-text-blue{
        font-size: 12px;
    }
    .dot-pattern img{
        width: 183px;
        height: 240px;
    }
    .screen1{
        height: auto;
        padding-bottom: 50px;
    }
    .screen1-content{
        margin-top: 5vh;
    }
    .long-side, .vertical-center{
        margin: 0;
    }
    .bang-step{
        display: flex;
        font-size: 18px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin: 10px 0;
    }
    .bang-step p{
        margin-left: 35px;
    }
    .icons{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .icons-hor{
        width: 43px;
    }
    .icon-ver{
        height: 55px;
    }
    .poster{
        padding: 50px 5vw;
        width: 90vw;
    }
    .poster-content{
        display: flex;
        justify-content: space-evenly;
    }
    .poster-text-wrap{
        margin: 0;
    }
    .poster-text-wrap p{
        margin: 25px 0 5px;
    }
    .poster-desc{
        font-size: 27px;
        margin: 0!important;
        width: 60vw;
    }
    .icon-home{
        width: 70px;
        height: 57px;
    }
    .service-feature-list p{
        margin-left: 35px;
    }
    .circle-shadow-blue-trade, .circle-shadow-blue-services{
        top: unset;
        bottom: 0;
        width: 200px;
        height: 200px;
    }
    .faq{
        padding: 50px 5vw;
        width: 90vw;
    }
    .faq-list{
        margin:0;
        padding: 0 5vw;
    }
    .question{
        font-size: 18px;
    }
    .faq-view-answer img{
        height: 16px;
        width: 16px;
    }
    .answer{
        font-size: 16px;
    }
    /*screen2*/
    .upgrade-wrap .long-side, .upgrade-wrap .short-side{
        width: 100%;
    }
    .step-detail{
        width: 90vw;
        font-size: 28px;
    }
    .circle-shadow-blue-light, .circle-shadow-pink-light{
        width: 125px;
        height: 125px;
    }
    .reverse{
        margin:10vh 0;
    }
    .reverse-left,.reverse-right{
        position: relative;
    }
    /*upgrade*/
    .upgrade-main{
        padding-bottom: 50px;
    }
    .small-width{
        width: 90vw;
    }
    .ugrade-main .upgrade-wrap{
        margin-top: 15vh;
    }
    .reverse-left>.align{
        text-align: center;
    }
    .bottom-right-shadow img{
        bottom: 0vh;
    }
    .multi-wrap{
        padding: 0;
    }
}
@media all and (max-width: 767px){
    img{
        width: 300px;
        transform: scale(1.2);
        margin-top: 50px;
    }
    .small-img-mob{
        width: 250px;
    }
    .multi-image{
        width: 120px;
        margin: auto;
    }
    .logo img{
        width: 36px;
        height: 39px;
        margin-top: 0;
    }
    .landing-image{
        margin-top: 0vh;
    }
    .landing-image img{
        width: 300px;
        transform: scale(1.1.) rotate(1.83deg);
        margin-top: 25px;
    }
    .content-desc{
        width: 100%;
    }
    .poster-desc{
        width: 100%;
    }
    .poster-content{
        display: block;
    }
}