@font-face {
    font-family: "Poppins";
    src: url('./fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: "Poppins-Bold";
    src: url('./fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url('./fonts/Poppins-SemiBold.ttf');
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p{
    margin: 15px 0;
}
a{
    text-decoration: none;
}

.block-box{
    position: relative;
    display: block!important;
}
.flex-box{
    position: relative;
    display: flex;
}
.cursor-point{
    cursor: pointer;
}
img{
    object-fit: cover;
    width: 75%;
}
.icons{
    width: auto;
}
.footer-pad{
    padding-bottom: 50px;
}
.margin-left-25{
    margin-left: 20px;
}
.margin-top-25{
    margin-top: 25px;
}
.landing-screen{
    position: relative;
    background-color: #0145C0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
}
.nav-fix{
    position: relative;
    display: flex;
    height: 10vh;
    top: 5vh;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0 5vw;
}
.nav-head{
    margin-left: 50px;
}
.logo img{
    height: 72px;
    width: 80px;
    cursor: pointer;
    margin-top: 0!important;
}
.bang-call-btn{
    border: 1px solid #fff;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    line-height: 19px;
    cursor: pointer;
    transition: 0.25s ease-in;
}
.bang-btn-text{
    color: #fff;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: 0.25s ease-in;
}
.bang-call-btn-blue{
    border: 1px solid #0145C0;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    line-height: 19px;
    cursor: pointer;
    transition: 0.25s ease-in;
}
.bang-btn-text-blue{
    color: #0145C0;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: 0.25s ease-in;
}
.long-btn{
    width: 180px;
    height: 50px;
    background-color: #0145C0;
    border-radius: 5px;
    border: 1px solid transparent;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-transform: uppercase;
}
.round-btn{
    border: 1px solid #FFF;
    border-radius: 25px;
}

.bang-call-btn:hover{
    background-color: #fff;
}
.bang-call-btn:hover .bang-btn-text{
    color: #0145C0;
}
.bang-call-btn-blue:hover{
    background-color: #0145C0;
}
.bang-call-btn-blue:hover .bang-btn-text-blue{
    color: #fff;
}
.no-hover:hover{
    background-color: inherit;
}
.no-hover:hover .bang-btn-text{
    color: #fff;
}
.no-hover:hover .bang-btn-text-blue{
    color: #0145C0;
}
.circle-design{
    overflow: hidden;
}
.left-circle{
    position: absolute;
    width: 700px;
    height: 700px;
    left: -325px;
    bottom: 0;
    border-radius: 50%;
    background: linear-gradient(89.42deg, #154BAF 23.7%, #356CD1 99.55%);
    opacity: 0.91;
    overflow: hidden;
}
.circle-landing{
    bottom: 10vh;
}
.right-circle{
    position: absolute;
    width: 500px;
    height: 500px;
    right: -200px;
    top: 0;
    background-color: #1656C2;
    border-radius: 50%;
    overflow: hidden;
}
.eclipse-shadow{
    position: absolute;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #428BE9;
    opacity: 0.6;
    box-shadow: 0px 0px 220px 160px #468FEB;
    overflow: hidden;
}
.landing-content{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    z-index: 2;
}
.landing-text{
    position: relative;
    font-family: "Poppins-Bold",sans-serif;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: -20vh;
}
.color-orange{
    color: #FF8044;
}
.color-black{
    color: #060E25;
}
.color-blue{
    color: #0145C0;
}
.landing-image{
    position: relative;
}
.landing-image img{
    transform: scale(1.2) rotate(1.83deg);
    width: 100%;

}
.overlap-mobile{
    position: absolute;
    background-color: #FFF;
    height: 10vh;
    width: 100vw;
    bottom: 0;
}

.white-screen{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.off-white{
    background-color: #F4F7FC;
}
.content-wrap{
    position: relative;
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}
.wrap-left, .wrap-right{
    position: relative;
    width: 40vw;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    margin: auto;
}
.circle-shadow-pink{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: -20px;
    top:0;
    opacity: 0.5;
    background: #FCEBE9;
    box-shadow: 0px 0px 220px 160px #FCEBE9;
}
.content-title{
    font-family: "Poppins-SemiBold",sans-serif;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #0146C0;
    z-index: 2;
}
.content-desc{
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #060E25;
    width: 35vw;
    z-index: 2;
}
.srt-desc{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #959FB3;
    width: 75%;
    z-index: 2;
}
.circle-shadow-blue{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    right: 0;
    top:15vh;
    background: #4D97F6;
    box-shadow: 0px 0px 220px 160px #468FEB;
}
.semi-light{
    opacity: 0.31;
}
.service-card{
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
}
.blue-screen{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-color: #0145C0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.basic-que-text{
    font-family: "Poppins-Bold";
    font-size: 50px;
    line-height: 68px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.circle-shadow-pink-light{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    left: -20px;
    bottom:0;
    opacity: 0.5;
    background: #FCEBE9;
    box-shadow: 0px 0px 220px 160px #FCEBE9;
}
.circle-shadow-blue-light{
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    right: 0;
    bottom:0;
    opacity: 0.2;
    background: #4D97F6;
    box-shadow: 0px 0px 220px 160px #468FEB;
}
.dot-pattern{
    position: absolute;
    top: 0;
    left: 0;
}
.dot-pattern img{
    width: auto;
}
.white-desc{
    color: #FFF;
}
.footer{
    position: relative;
    display: flex;
    bottom: 0vh;
    width: 100vw;
    height: 5vh;
    background-color: #F97439;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99;
}
.footer p{
    font-weight: 500;
    text-align: center;
}

/*screen1*/
.center-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.long-side{
    width: 60vw;
}
.long-side-xl{
    width: 60vw;
}
.short-side{
    width: 30vw;
}
.short-side-xs{
    width: 30vw;
}
.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins";
    font-size: 18px;
    color: #fff;
}
.bang-step{
    margin: 25px 0;
}
.screen1-content{
    margin-top: -5vh;
}
.poster{
    position: relative;
    background-color: #F4F7FC;
    height: 30vh;
    width: 100vw;
}
.circle-shadow-pink-poster{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    background: #FCEBE9;
    box-shadow: 0px 0px 220px 160px #FCEBE9;
}
.circle-shadow-blue-poster-left{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    right: 0;
    opacity: 0.2;
    top:15vh;
    background: #4D97F6;
    box-shadow: 0px 0px 220px 160px #468FEB;
}
.circle-shadow-blue-poster-right{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 0;
    top:0vh;
    opacity: 0.1;
    background: #4D97F6;
    box-shadow: 0px 0px 220px 160px #468FEB;
}
.poster-content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.poster-text-wrap{
    margin-left: 50px;
}
.poster-text-wrap p{
    margin: 10px 0;
}
.service-feature{
    display: inline-block;
    margin: 15px 0 25px;
}
.service-feature-list{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service-feature-list p{
    font-family: "Poppins";
    font-size: 18px;
    color: #0145C0;
}
.circle-shadow-blue-services{
    position: absolute;
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    right: 5%;
    bottom: 0;
    transform: translate(5%,0);
    opacity: 0.1;
    background: #4D97F6;
    box-shadow: 0px 0px 220px 160px #468FEB;
}
.circle-shadow-blue-trade{
    position: absolute;
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    right: 0;
    top:50%;
    transform: translate(0,-50%);
    opacity: 0.1;
    background: #4D97F6;
    box-shadow: 0px 0px 220px 160px #468FEB;
}
.faq{
    position: relative;
    padding: 0 10vw;
    min-height: 80vh;
    justify-content: start;
    align-items: flex-start;
    display: block;
}
.faq>.content-desc{
    width: 100%;
}
.faq-list{
    position: relative;
    margin-top: 10vh;
}
.faq-list hr{
    width: 85vw;
    margin-left: -2.5vw;
    opacity: 0.5;
}
.faq-questionaire{
    position: relative;
    width: 80vw;
    margin: 50px 0;
}
.question{
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    color: #0145C0;
    cursor: pointer;
}
.faq-view-answer{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.answer{
    margin-top: 25px;
    display: none;
    width: 80vw;
}
.hideans{
   display: block;
}
.rotate-icon {
    transform: rotate(90deg);
}

/*screen2*/

.upgrade-step{
    position: relative;
    height: auto;
    background-color: #F4F7FC;
    padding: 100px 5vw;
    width: 90vw;
}

.upgrade-head>.content-title, .upgrade-head>.content-desc, .upgrade-head>.srt-desc{
    text-align: center;
    margin: 20px 0 5px;
}
.upgrade-head-que{
    width: 90vw;
    font-size: 56px;
}
.upgrade-wrap{
    position: relative;
}

.upgrade-wrap .wrap-left{
    display: flex;
    justify-content: end;
}
.upgrade-wrap .short-side{
    width: 42.5vw;
    position: relative;
    display: flex;
    justify-content: center;
}
.upgrade-wrap .long-side{
    width: 48.5vw;
}
.center-shadow{
    top: 50%;
    left: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.content-wrap img{
    z-index: 2;
}
.step-detail{
    font-family: "Poppins-SemiBold";
    font-size: 36px;
    width: 25vw;
    line-height: 51px;
}
.center-shadow-left{
    position: absolute;
    top: 50%;
    left: -10vh;
    right: unset;
    bottom: unset;
    transform: translate(5%,-50%);
}
.reverse{
    margin:20vh 0;
}
.reverse-right{
    position: absolute;
    right: 0;
}
.reverse-left{
    position: absolute;
    left: 0;
}
.reverse-right.long-side{
    display: flex;
    justify-content: center;
}
.reverse-left.short-side{
    display: flex;
    justify-content: start;
}

/*upgrade*/
.upgrade-main{
    padding-bottom: 150px;
}
.upgrade-landing{
    padding: 0 5vw;
    width: 90vw;
    height: 90vh;
}
.abs-margin{
    margin-top: 35vh;
}
.small-width{
    width: 35vw;
}
.small-width-xs{
    width: 25vw;
}
.mid-shadow-right{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.mid-shadow-left{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 35%;
    left: 0;
    opacity: 0.4;
    transform: translate(5%,-35%);
}
.top-shadow{
    position: relative;
}
.top-shadow img{
    position: absolute;
    top: -15vh;
    left: 0;
}
.bottom-left-shadow{
    position: relative;
}
.bottom-left-shadow img{
    position: absolute;
    bottom: 0vh;
    left: 0;
}
.bottom-right-shadow {
    position: relative;
}
.bottom-right-shadow img{
    position: absolute;
    bottom: 0vh;
    right: 0;
    transform: scaleX(-1);
}
.upgrade-main .upgrade-wrap{
    padding: 0 5vw;
    margin-top: 15vh;
}
.reverse-left>.align{
    text-align: left;
}
.flex-multi-img{
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.multi-image{
    margin-right: 50px;
    margin-left: 0;
    width: auto;
    cursor: pointer;
}
.reverse-left>.multi-image{
    margin-right: 0;
}
.multi-wrap{
    display: block!important;
    padding: 0 12.5%;
}
.digit-group-form{
    display: block;
    justify-content: center;
    align-items: center;
}
.digit-group{
    position: relative;
    display: block;
    margin-top: 25px;
}
.digit-group-input{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.digit-group input[type=number] {
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.082);
    border-radius: 6px;
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 200;
    color: #0145C0;
    margin: 0 2px;
}
.digit-group input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.digit-group input[type=number] {
    -moz-appearance: textfield;
}
.digit-group input[type=submit]{
    margin-top: 50px;
}


/*subscription*/
.nav-left{
    justify-content: flex-start;
}
.subscription{
    margin-top: 100px;
}
.sub-details{
    margin: 20px 0;
}
.sub-wrap{
    align-items: flex-start;
}
.icon-wrap-sub{
    width: 60px;
}
.mid-desc{
    font-family: "Poppins-Bold";
    font-size: 30px;
    letter-spacing: 0.5px;
    margin-top: 35px;
    margin-bottom: 35px;
} 
.mob-mid-desc{
    display: none;
}
.mid-big{
    font-size: 32px;
}
.left-img{
    margin-left: 0;
    margin-right: auto;
}
.img-xl{
    width: 90%;
}
.billing-provider-list{
    display: inline-block;
    margin: 0px 0 25px;
}
.billing-detail-list{
    position: relative;
    display: flex;
    align-items: center;
}
.billing-provider-content{
    margin-left: 20px;
}
.billing-content-head{
    font-family: "Poppins",sans-serif;
    color: #959FB3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}
.billing-content-desc{
    font-family: "Poppins-SemiBold";
    font-size: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}
.personal-detail-wrap{
    margin-top: 150px;
}

.person-checkout{
    position: relative;
    bottom: 0;
    height: 75px;
    width: 90vw;
    background: #FFFFFF;
    box-shadow: 0px -2px 6px 2px rgba(0, 0, 0, 0.11);
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-summary{
    position: relative;
    display: flex;
}
.ver-line::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    margin: 0 25px;
    height: 30px;
    width: 0.5px;
    opacity: 0.7;
    background-color: #959FB3;
}
.x-plan{
    margin-left: 50px;
}
/*N/A*/
.semibold-text{
    font-size: 42px;
    font-family: "Poppins-SemiBold";
}
/*confirmation*/

.confirmation{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.icons-small{
    width: 5px;
    height: 5px;
}